---
layout: page
---
<style TYPE="text/css">
.gallery-image-wrapper {
  height: 360px;
  width: 300px;
  display: inline-block;
  margin: 0.1em;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 10px;
}
.gallery-image-wrapper:hover {
  box-shadow: 0 0 2px 1px #00ADB5;
}
.gallery-image {
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  max-height: 300px;
  max-width: 100%;
  padding: 5px;
  border-radius: 10px;
}
.gallery-image-description {
  position: absolute;
  bottom: 0px;
  left: 5px;
  right: 5px;
  max-height: 50px;
  overflow: auto;
  text-align: center;
}
</style>
<h1><a href="/{{ site.gallery.dir }}">{{ page.title }}</a></h1>
<hr />
{% for image in page.images %}
  {% assign image_key = page.gallery | append: "/" | append: image.name %}
  {% assign image_description = site.data.image_descriptions[image_key] | default: image.name %}
    <div class="gallery-image-wrapper">
        <a name="{{ image.name }}"></a>
        <a href="{{ image.name }}"{% if site.gallery.lightbox %} rel="lightbox[{{ page.gallery }}]"{% endif %}>
            <img class="gallery-image" src="thumbs/{{ image.name }}" alt="{{ image_description | escape }}" />
        </a>
        <div class="gallery-image-description">{{ image_description | escape }}</div>
    </div>
{% endfor %}
